[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Jinja2 = "*"
PyYAML = "*"
requests = "*"

[dev-packages]
flake8 = "*"
flake8-commas = "*"
pydocstyle = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.6"
