[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
black = "==19.3b0"
flake8 = "*"
flake8-isort = "*"
pydocstyle = "*"
pylint = "*"
pyparsing = "!=2.4.1"
pytest = "*"

[requires]
python_version = "3.6"
